### Step 1: Import Libraries and Load Data

In [29]:
%pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from statsmodels) (2.1.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from statsmodels) (1.14.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: six in c:\users\user\documents\oplearning\10_academy\week_10\myenv\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.vector_ar.var_model import VAR
from statsmodels.tsa.regime_switching.markov_switching import MarkovSwitching
from sklearn.metrics import mean_absolute_error, mean_squared_error


brent_prices = pd.read_csv("../data/cleaned_data.csv")  
exchange_rates = pd.read_csv("../data/data_collected/Exchange_rates.csv", skiprows=4)
inflation = pd.read_csv("../data/data_collected/inflation.csv", skiprows=4)
gdp_growth = pd.read_csv("../data/data_collected/GDP_growth.csv", skiprows=4)

In [35]:
print(brent_prices.head())

         Date  Price
0  1987-05-20  18.63
1  1987-05-21  18.45
2  1987-05-22  18.55
3  1987-05-25  18.60
4  1987-05-26  18.63

### Step 2: Inspect Datasets and Convert Dates

In [31]:
print(gdp_growth.head())
print(exchange_rates.head())
print(inflation.head())

                  Country Name Country Code         Indicator Name  \
0                        Aruba          ABW  GDP growth (annual %)
1  Africa Eastern and Southern          AFE  GDP growth (annual %)
2                  Afghanistan          AFG  GDP growth (annual %)
3   Africa Western and Central          AFW  GDP growth (annual %)
4                       Angola          AGO  GDP growth (annual %)

      Indicator Code  1960      1961      1962      1963      1964      1965  \
0  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN       NaN       NaN
1  NY.GDP.MKTP.KD.ZG   NaN  0.460106  7.868013  5.616400  4.668135  5.138990
2  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN       NaN       NaN
3  NY.GDP.MKTP.KD.ZG   NaN  1.873455  3.707643  7.145784  5.406403  4.102491
4  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN       NaN       NaN

   ...      2015      2016      2017      2018      2019       2020  \
0  ... -0.623626  1.719625  7.048533  2.381730 -2.302836 -23.982581
1  ...  3.011572  2.183581  2.651400  2.681718  2.189259  -2.780379
2  ...  1.451315  2.260314  2.647003  1.189228  3.911603  -2.351101
3  ...  2.813979  0.141489  2.284961  2.842645  3.222029  -1.004417
4  ...  0.943572 -2.580111 -0.147150 -1.316362 -0.702273  -5.638215

        2021       2022      2023  Unnamed: 68
0  27.639357  10.458317       NaN          NaN
1   4.497380   3.554422  2.622310          NaN
2 -20.738839  -6.240172       NaN          NaN
3   3.994854   3.784486  3.342776          NaN
4   1.199211   3.045403  0.856001          NaN

[5 rows x 69 columns]
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name Indicator Code  \
0  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
1  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
2  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
3  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
4  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF

           1960          1961          1962          1963          1964  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2  1.719656e+01  1.719656e+01  1.719656e+01  3.510964e+01  3.869226e+01
3           NaN           NaN           NaN           NaN           NaN
4  2.866844e-08  2.873486e-08  2.867844e-08  2.875203e-08  2.881978e-08

           1965  ...        2015        2016        2017        2018  \
0           NaN  ...    1.790000    1.790000    1.790000    1.790000
1           NaN  ...         NaN         NaN         NaN         NaN
2  3.869226e+01  ...   61.143462   67.866086   68.026904   72.083247
3           NaN  ...         NaN         NaN         NaN         NaN
4  2.877853e-08  ...  120.060702  163.656434  165.915951  252.855748

         2019        2020        2021        2022        2023  Unnamed: 68
0    1.790000    1.790000    1.790000    1.790000    1.790000          NaN
1         NaN         NaN         NaN         NaN         NaN          NaN
2   77.737949   76.813536         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN         NaN          NaN
4  364.825805  578.258780  631.441956  460.567512  685.020238          NaN

[5 rows x 69 columns]
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                          Indicator Name  Indicator Code  1960  1961  1962  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
1  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
2  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
3  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
4  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN

   1963  1964  1965  ...      2015       2016       2017       2018  \
0   NaN   NaN   NaN  ...  0.474764  -0.931196  -1.028282   3.626041
1   NaN   NaN   NaN  ...  5.245878   6.571396   6.399343   4.720805
2   NaN   NaN   NaN  ... -0.661709   4.383892   4.975952   0.626149
3   NaN   NaN   NaN  ...  2.130817   1.487416   1.725486   1.784050
4   NaN   NaN   NaN  ...  9.355972  30.694415  29.844480  19.628938

        2019       2020       2021       2022       2023  Unnamed: 68
0   4.257462        NaN        NaN        NaN        NaN          NaN
1   4.653665   5.405162   7.240978  10.773751   7.126975          NaN
2   2.302373        NaN        NaN        NaN        NaN          NaN
3   1.760112   2.437609   3.653533   7.967574   4.670084          NaN
4  17.080954  22.271539  25.754295  21.355290  13.644102          NaN

[5 rows x 69 columns]

### Add economic data preprocessing function and merge datasets

In [33]:
import pandas as pd
import numpy as np

def preprocess_economic_data(file_path, country, data_type):
    df = pd.read_csv(file_path, skiprows=4)

    if country != 'All':
        df = df[df['Country Name'] == country]

    cols_to_drop = ['Country Code', 'Indicator Name', 'Indicator Code']
    df = df.drop(columns=cols_to_drop, errors='ignore')

    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

    df = df.melt(id_vars=['Country Name'], var_name='Year', value_name='Value')

    df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
    df.dropna(subset=['Year'], inplace=True)

    df = df.pivot(index='Year', columns='Country Name', values='Value')

    df = df.dropna(axis=1, how='all')

    print(f"DataFrame after preprocessing ({data_type}):")
    print(df.head())

    return df

gdp_growth_path = '../data/data_collected/GDP_growth.csv'
inflation_path = '../data/data_collected/inflation.csv'
exchange_rate_path = '../data/data_collected/Exchange_rates.csv'

datasets = [
    (gdp_growth_path, 'All', 'GDP Growth Rates'),
    (inflation_path, 'All', 'Inflation Rates'),
    (exchange_rate_path, 'All', 'Exchange Rates')
]


cleaned_dataframes = {}
for path, country, data_type in datasets:
    cleaned_dataframes[data_type] = preprocess_economic_data(path, country, data_type)

for data_type, df in cleaned_dataframes.items():
    print(f"\n{data_type} (All Country):")
    print(df.head())

DataFrame after preprocessing (GDP Growth Rates):
Country Name  Afghanistan  Africa Eastern and Southern  \
Year
1960                  NaN                          NaN
1961                  NaN                     0.460106
1962                  NaN                     7.868013
1963                  NaN                     5.616400
1964                  NaN                     4.668135

Country Name  Africa Western and Central  Albania    Algeria  American Samoa  \
Year
1960                                 NaN      NaN        NaN             NaN
1961                            1.873455      NaN -13.605441             NaN
1962                            3.707643      NaN -19.685042             NaN
1963                            7.145784      NaN  34.313729             NaN
1964                            5.406403      NaN   5.839413             NaN

Country Name  Andorra  Angola  Antigua and Barbuda  Arab World  ...  \
Year                                                            ...
1960              NaN     NaN                  NaN         NaN  ...
1961              NaN     NaN                  NaN         NaN  ...
1962              NaN     NaN                  NaN         NaN  ...
1963              NaN     NaN                  NaN         NaN  ...
1964              NaN     NaN                  NaN         NaN  ...

Country Name  Uzbekistan  Vanuatu  Venezuela, RB  Viet Nam  \
Year
1960                 NaN      NaN            NaN       NaN
1961                 NaN      NaN       3.192519       NaN
1962                 NaN      NaN       8.532934       NaN
1963                 NaN      NaN       3.900951       NaN
1964                 NaN      NaN      11.129345       NaN

Country Name  Virgin Islands (U.S.)  West Bank and Gaza     World  \
Year
1960                            NaN                 NaN       NaN
1961                            NaN                 NaN  3.969728
1962                            NaN                 NaN  5.319004
1963                            NaN                 NaN  5.018764
1964                            NaN                 NaN  6.583205

Country Name  Yemen, Rep.     Zambia  Zimbabwe
Year
1960                  NaN        NaN       NaN
1961                  NaN   1.361382  6.316157
1962                  NaN  -2.490839  1.434471
1963                  NaN   3.272393  6.244345
1964                  NaN  12.214048 -1.106172

[5 rows x 262 columns]
DataFrame after preprocessing (Inflation Rates):
Country Name  Afghanistan  Africa Eastern and Southern  \
Year
1960                  NaN                          NaN
1961                  NaN                          NaN
1962                  NaN                          NaN
1963                  NaN                          NaN
1964                  NaN                          NaN

Country Name  Africa Western and Central  Albania  Algeria  Angola  \
Year
1960                                 NaN      NaN      NaN     NaN
1961                                 NaN      NaN      NaN     NaN
1962                                 NaN      NaN      NaN     NaN
1963                                 NaN      NaN      NaN     NaN
1964                                 NaN      NaN      NaN     NaN

Country Name  Antigua and Barbuda  Arab World  Armenia  Aruba  ...    Uruguay  \
Year                                                           ...
1960                          NaN         NaN      NaN    NaN  ...  38.504037
1961                          NaN         NaN      NaN    NaN  ...  22.747264
1962                          NaN         NaN      NaN    NaN  ...  10.907424
1963                          NaN         NaN      NaN    NaN  ...  21.254696
1964                          NaN         NaN      NaN    NaN  ...  42.369416

Country Name  Uzbekistan  Vanuatu  Venezuela, RB  Viet Nam  \
Year
1960                 NaN      NaN            NaN       NaN
1961                 NaN      NaN            NaN       NaN
1962                 NaN      NaN            NaN       NaN
1963                 NaN      NaN            NaN       NaN
1964                 NaN      NaN            NaN       NaN

Country Name  West Bank and Gaza  World  Yemen, Rep.  Zambia  Zimbabwe
Year
1960                         NaN    NaN          NaN     NaN       NaN
1961                         NaN    NaN          NaN     NaN       NaN
1962                         NaN    NaN          NaN     NaN       NaN
1963                         NaN    NaN          NaN     NaN       NaN
1964                         NaN    NaN          NaN     NaN       NaN

[5 rows x 240 columns]
DataFrame after preprocessing (Exchange Rates):
Country Name  Afghanistan  Albania  Algeria  Andorra        Angola  \
Year
1960            17.196561      NaN  4.93706      NaN  2.866844e-08
1961            17.196561      NaN  4.93706      NaN  2.873486e-08
1962            17.196561      NaN  4.93706      NaN  2.867844e-08
1963            35.109645      NaN  4.93706      NaN  2.875203e-08
1964            38.692262      NaN  4.93706      NaN  2.881978e-08

Country Name  Antigua and Barbuda     Argentina  Armenia  Aruba  Australia  \
Year
1960                      1.71429           NaN      NaN    NaN   0.892857
1961                      1.71429           NaN      NaN    NaN   0.892857
1962                      1.71429           NaN      NaN    NaN   0.892857
1963                      1.71429  1.387167e-11      NaN    NaN   0.892857
1964                      1.71429  1.403917e-11      NaN    NaN   0.892857

Country Name  ...  United Kingdom  United States   Uruguay  Uzbekistan  \
Year          ...
1960          ...        0.357143            1.0  0.000011         NaN
1961          ...        0.357143            1.0  0.000011         NaN
1962          ...        0.357143            1.0  0.000011         NaN
1963          ...        0.357143            1.0  0.000015         NaN
1964          ...        0.357143            1.0  0.000016         NaN

Country Name  Vanuatu  Venezuela, RB  Viet Nam  Yemen, Rep.    Zambia  \
Year
1960           89.765        0.00335       NaN          NaN  0.714286
1961           89.765        0.00335       NaN          NaN  0.714286
1962           89.765        0.00335       NaN          NaN  0.714286
1963           89.765        0.00335       NaN          NaN  0.714286
1964           89.765        0.00435       NaN          NaN  0.714286

Country Name  Zimbabwe
Year
1960          0.000714
1961          0.000714
1962          0.000714
1963          0.000714
1964          0.000714

[5 rows x 203 columns]

GDP Growth Rates (All Country):
Country Name  Afghanistan  Africa Eastern and Southern  \
Year
1960                  NaN                          NaN
1961                  NaN                     0.460106
1962                  NaN                     7.868013
1963                  NaN                     5.616400
1964                  NaN                     4.668135

Country Name  Africa Western and Central  Albania    Algeria  American Samoa  \
Year
1960                                 NaN      NaN        NaN             NaN
1961                            1.873455      NaN -13.605441             NaN
1962                            3.707643      NaN -19.685042             NaN
1963                            7.145784      NaN  34.313729             NaN
1964                            5.406403      NaN   5.839413             NaN

Country Name  Andorra  Angola  Antigua and Barbuda  Arab World  ...  \
Year                                                            ...
1960              NaN     NaN                  NaN         NaN  ...
1961              NaN     NaN                  NaN         NaN  ...
1962              NaN     NaN                  NaN         NaN  ...
1963              NaN     NaN                  NaN         NaN  ...
1964              NaN     NaN                  NaN         NaN  ...

Country Name  Uzbekistan  Vanuatu  Venezuela, RB  Viet Nam  \
Year
1960                 NaN      NaN            NaN       NaN
1961                 NaN      NaN       3.192519       NaN
1962                 NaN      NaN       8.532934       NaN
1963                 NaN      NaN       3.900951       NaN
1964                 NaN      NaN      11.129345       NaN

Country Name  Virgin Islands (U.S.)  West Bank and Gaza     World  \
Year
1960                            NaN                 NaN       NaN
1961                            NaN                 NaN  3.969728
1962                            NaN                 NaN  5.319004
1963                            NaN                 NaN  5.018764
1964                            NaN                 NaN  6.583205

Country Name  Yemen, Rep.     Zambia  Zimbabwe
Year
1960                  NaN        NaN       NaN
1961                  NaN   1.361382  6.316157
1962                  NaN  -2.490839  1.434471
1963                  NaN   3.272393  6.244345
1964                  NaN  12.214048 -1.106172

[5 rows x 262 columns]

Inflation Rates (All Country):
Country Name  Afghanistan  Africa Eastern and Southern  \
Year
1960                  NaN                          NaN
1961                  NaN                          NaN
1962                  NaN                          NaN
1963                  NaN                          NaN
1964                  NaN                          NaN

Country Name  Africa Western and Central  Albania  Algeria  Angola  \
Year
1960                                 NaN      NaN      NaN     NaN
1961                                 NaN      NaN      NaN     NaN
1962                                 NaN      NaN      NaN     NaN
1963                                 NaN      NaN      NaN     NaN
1964                                 NaN      NaN      NaN     NaN

Country Name  Antigua and Barbuda  Arab World  Armenia  Aruba  ...    Uruguay  \
Year                                                           ...
1960                          NaN         NaN      NaN    NaN  ...  38.504037
1961                          NaN         NaN      NaN    NaN  ...  22.747264
1962                          NaN         NaN      NaN    NaN  ...  10.907424
1963                          NaN         NaN      NaN    NaN  ...  21.254696
1964                          NaN         NaN      NaN    NaN  ...  42.369416

Country Name  Uzbekistan  Vanuatu  Venezuela, RB  Viet Nam  \
Year
1960                 NaN      NaN            NaN       NaN
1961                 NaN      NaN            NaN       NaN
1962                 NaN      NaN            NaN       NaN
1963                 NaN      NaN            NaN       NaN
1964                 NaN      NaN            NaN       NaN

Country Name  West Bank and Gaza  World  Yemen, Rep.  Zambia  Zimbabwe
Year
1960                         NaN    NaN          NaN     NaN       NaN
1961                         NaN    NaN          NaN     NaN       NaN
1962                         NaN    NaN          NaN     NaN       NaN
1963                         NaN    NaN          NaN     NaN       NaN
1964                         NaN    NaN          NaN     NaN       NaN

[5 rows x 240 columns]

Exchange Rates (All Country):
Country Name  Afghanistan  Albania  Algeria  Andorra        Angola  \
Year
1960            17.196561      NaN  4.93706      NaN  2.866844e-08
1961            17.196561      NaN  4.93706      NaN  2.873486e-08
1962            17.196561      NaN  4.93706      NaN  2.867844e-08
1963            35.109645      NaN  4.93706      NaN  2.875203e-08
1964            38.692262      NaN  4.93706      NaN  2.881978e-08

Country Name  Antigua and Barbuda     Argentina  Armenia  Aruba  Australia  \
Year
1960                      1.71429           NaN      NaN    NaN   0.892857
1961                      1.71429           NaN      NaN    NaN   0.892857
1962                      1.71429           NaN      NaN    NaN   0.892857
1963                      1.71429  1.387167e-11      NaN    NaN   0.892857
1964                      1.71429  1.403917e-11      NaN    NaN   0.892857

Country Name  ...  United Kingdom  United States   Uruguay  Uzbekistan  \
Year          ...
1960          ...        0.357143            1.0  0.000011         NaN
1961          ...        0.357143            1.0  0.000011         NaN
1962          ...        0.357143            1.0  0.000011         NaN
1963          ...        0.357143            1.0  0.000015         NaN
1964          ...        0.357143            1.0  0.000016         NaN

Country Name  Vanuatu  Venezuela, RB  Viet Nam  Yemen, Rep.    Zambia  \
Year
1960           89.765        0.00335       NaN          NaN  0.714286
1961           89.765        0.00335       NaN          NaN  0.714286
1962           89.765        0.00335       NaN          NaN  0.714286
1963           89.765        0.00335       NaN          NaN  0.714286
1964           89.765        0.00435       NaN          NaN  0.714286

Country Name  Zimbabwe
Year
1960          0.000714
1961          0.000714
1962          0.000714
1963          0.000714
1964          0.000714

[5 rows x 203 columns]

### Merge with Brent Oil

In [36]:
def load_and_transform_economic_data(filepath, target_country, indicator_type):
    try:
        data = pd.read_csv(filepath, skiprows=4)
        
        data = data[data['Country Name'] == target_country]

        data = data.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])
        
        data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
        
        data = data.melt(id_vars=['Country Name'], var_name='Year', value_name='Value')
        
        data['Year'] = pd.to_numeric(data['Year'], errors='coerce')
        data = data.dropna(subset=['Year', 'Value'])
        
        data = data.pivot(index='Year', columns='Country Name', values='Value')
        
        data = data.dropna(how='all')
        
        print(f"Processed data for {indicator_type}:\n", data.head())  
        
        return data
    except Exception as err:
        print(f"Error encountered during {indicator_type} processing: {err}")